<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="../storage/img/Wafles.jpg" alt="Producto" class="product-image">
    
            <div class="icon-wrapper back-icon">
                <a href="home.html"><img src="../storage/img/Type=outline, Library=arrow-left.png" alt="Volver"></a>
            </div>
    
            <div class="icon-wrapper favorite-icon">
                <img src="../storage/img/favorite-icon.png" alt="Favorito">
            </div>
        </div>

        <!-- Contenedor de los detalles -->
        <div class="details-container">
            <div class="product-details">
                <h1 class="product-title">Wafles</h1>
                <div class="number">
                    <button class="quantity-btn">-</button>
                    <span class="quantity">1</span>
                    <button class="quantity-btn">+</button>
                </div>
            </div>

            <div class="rating">
                <img src="../storage/img/Type=default, Category=linear, Library=star.png" alt="Estrella" class="star-icon">
                <span>5.0</span>
                <a href="#" class="reviews">(7,932 reviews)</a>
            </div> 

            <p class="description">
                Wafles para dar como desayuno <br>
                A aqueya persona en su dia especial<br>
            </p>

            <div class="divider"></div>

        </div>
    </div>
</body>
</html>