<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <div class="welcome">
        <div class="title">
            <h5>Hello, Welcome 👋</h5>
            <h1>Antojitos kav
</h1>
        </div>
        <img src="../storage/img/ANTOJITOS.png">
    </div>
    <div class="buscar">
        <div class="search-box">
            <div class="row">
                <button class="search-btn">
                    <img src="../storage/img/search-normal.png">
                </button>
                <input type="text" class="search-bar"
                    placeholder="Search clothes. . . "
                    autocomplete="off">
            </div>
            <div class="results"></div>
        </div>
        <button class="filter">
            <img src="../storage/img/Filter.png">
        </button>
    </div>
    <script src="../js/Components/search.js"></script>

    <script src="../js/Components/filter-container.js"></script>
    <div class="main">
        <div class="left">
            <a href="detail1.html" class="c1">
                <img class="img1" src="../storage/img/Gelatinas.jpg">
                <img class="imagen-superpuesta" src="../storage/img/heart.png">
                <h1>Gelatinas</h1>
                <h5>Deliciosas gelatinas con un sabor y forma unica</h5>
                <div class="precio">
                    <h3></h3>
                    <div class="calificacion">
                        <img src="../storage/img/Type=default, Category=linear, Library=star.png">
                        <h6>5.0</h6>
                    </div>
                </div>
            </a>
            <a href="detail2.html" class="c2">
                <img class="img2"src="../storage/img/Pastel.jpg">
                <img  class="imagen-superpuesta" src="../storage/img/heart.png">
                <h1>PASTEL</h1>
                <h5>DELIVIOSO PASTEL </h5>
                <div class="precio">
                    <h3></h3>
                    <div class="calificacion">
                        <img src="../storage/img/Type=default, Category=linear, Library=star.png">
                        <h6>5.0</h6>
                     </div>
                </div>
            </a>
                      <a href="detail3.html" class="c2">
                <img class="img2"src="../storage/img/Cupces.jpg">
                <img  class="imagen-superpuesta" src="../storage/img/heart.png">
                <h1>Cupcakes</h1>
                <h5>eliciosos Cupcakes para pasar el rato </h5>
                <div class="precio">
                    <h3></h3>
                    <div class="calificacion">
                        <img src="../storage/img/Type=default, Category=linear, Library=star.png">
                        <h6>5.0</h6>
                     </div>
                </div>
            </a>
        </div>
        <div class="right">
            <a href="detail4.html" class="c3">
                <img class="img1" src="../storage/img/Postres de frutas.jpg">
                <img class="imagen-superpuesta" src="../storage/img/heart.png">
                <h1>Postres de frutas</h1>
                <h5>Delicioso postre de frutas para endulzar tu día</h5>
                <div class="precio">
                    <h3></h3>
                    <div class="calificacion">
                        <img src="../storage/img/Type=default, Category=linear, Library=star.png">
                        <h6>5.0</h6>
                    </div>
                </div>
            </a>
            <a href="detail5.html" class="c4">
                <img class="img2" src="../storage/img/Wafles.jpg">
                <img class="imagen-superpuesta" src="../storage/img/heart.png">
                <h1>Wafles</h1>
                <h5>Wafles para comenzar tu día</h5>
                <div class="precio">
                    <h3></h3>
                    <div class="calificacion">
                        <img src="../storage/img/Type=default, Category=linear, Library=star.png">
                        <h6>5.0</h6>
                    </div>
                </div>
            </a>
            <a href="detail6.html" class="c4">
                <img class="img2" src="../storage/img/no c.jpg">
                <img class="imagen-superpuesta" src="../storage/img/heart.png">
                <h1>Postres</h1>
                <h5>Postre deliciosos</h5>
                <div class="precio">
                    <h3></h3>
                    <div class="calificacion">
                        <img src="../storage/img/Type=default, Category=linear, Library=star.png">
                        <h6>5.0</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="footer-wrapper">
        <div class="footer-container">
            <footer class="select">
                <img src="../storage/img/Home.png">
                <img src="../storage/img/Cart.png">
                <img src="../storage/img/Favourite.png">
                <img src="../storage/img/Account.png">
            </footer>
        </div>
    </div>
    
</body>
</html>